<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center custom-font">Login/Signup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <form class="ion-padding">
      <div class="wrap-input">
        <input class="input" type="text" name="user-name" placeholder="Username" [(ngModel)]="username">
      </div>
      <div class="wrap-input">
        <input class="input" type="password" name="password" placeholder="Password" [(ngModel)]="password">
      </div>
      <div class="wrap-input" *ngIf="user == null">
        <input class="input" type="password" name="confirm password" placeholder="Confirm Password" [(ngModel)]="confirmedPassword">
      </div>
      <div class="container-form-btn">
        <button class="form-btn custom-font" (click)="login()" *ngIf="user != null">
          Login
        </button>
        <button class="form-btn custom-font" (click)="signUp()" *ngIf="user == null">
          Sign up
        </button>
      </div>
    </form>
  </div>
  <!-- <div style="text-align: center; font-weight: 700;">
    <ion-label>OR</ion-label>
  </div>
  <br>
  <div class="center_div">
    <ion-button (click)="loginWithUnstoppable()"  fill="clear" shape="round">
      <img src="../../assets/ud-default-large.png" alt="Login with Unstoppable">
    </ion-button>
  </div> -->
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <p class="ion-text-center custom-font">Mobile Decentralized Storage</p>
  </ion-toolbar>
</ion-footer>