<ion-toolbar style="border-bottom: 1px solid gray;">
  <ion-buttons slot="start">
    <ion-back-button default-href="home"></ion-back-button>
  </ion-buttons>
  <ion-title style="text-align: center;">{{drive}} ({{getFileList().length}})</ion-title>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="folder-open"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="content">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<app-file-item *ngFor="let item of getFileList()" [file]="item"></app-file-item>
  
  <ion-card style="padding: 15px;" *ngIf="getFileList().length == 0">
    <ion-title style="text-align: center;">No Files Availbable!</ion-title>
  </ion-card>
</ion-content>

<ion-fab slot="fixed" horizontal="end" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="cloud-upload"></ion-icon>
  </ion-fab-button>
</ion-fab>
