<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeDrive()">
        <ion-icon color="primary" name="arrow-back" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{drive}} Drive</ion-title>
  </ion-toolbar>
</ion-header>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="warning" (click)="newUpload()">
    <ion-icon name="cloud-upload-outline" style="color: blue;"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-content>
  <div *ngIf="files.length == 0">
    <ion-card style="text-align: center;">
      <ion-card-content>
        <ion-card-title>
          <span>No files found</span>
        </ion-card-title>
        <p>
          You have no files in your drive.
        </p>
        <p style="padding: 5rem;">
          Try uploading some files.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="files.length>0">
    <ion-list>
      <ion-list-header>
        <ion-label>My Files</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let file of files">
        <ion-label>{{file}}</ion-label>
        <ion-button fill="clear" (click)="deleteFile(file)">
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="downloadFile(file)">
          <ion-icon slot="end" name="cloud-download-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <input type="file" id="fileupload" style="display:none" (change)="fileProvided($event)">
  <input type="file" id="folderupload" style="display:none" (change)="fileProvided($event)" webkitdirectory multiple>
</ion-content>
