@import url('http://fonts.cdnfonts.com/css/robtronika');

ion-header {

  ion-toolbar {
    --background: white;
    padding: 0 10px;
  }

  ion-item {
    // --background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 179, 0, 1) 0%, rgba(255, 117, 0, 1) 70%);
    --background: linear-gradient( 90.5deg,  rgba(255,207,139,0.50) 1.1%, rgba(255,207,139,1) 81.3% );
    // --background: white;

    font-family: 'robtronika';
    font-weight: normal;
    color: black;
  }



  ion-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
  }

  ion-toolbar {

    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      font-family: 'robtronika';
      font-weight: normal;
      color: black;
    }

    ion-avatar {
      background-color: white;
      --border-radius: 30%;
    }
  }

}


ion-content {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: 'robtronika';
    font-weight: normal;
    color: black;
  }


  // background-image: 
  --background: linear-gradient( 90.5deg,  rgba(255,207,139,0.50) 1.1%, rgba(255,207,139,1) 81.3% );



  .slides {
    padding: 4px 10px 20px 10px;
    width: 100%;
  }


  ion-slide {
    max-width:500px;
    max-height: 500px;
    ion-card {
      ion-card-header {
        background-color: rgba(255, 254, 241, 0.2);
      }


      ion-card-title {
        text-align: center;
        font-family: 'robtronika';
        font-weight: normal;
        color: black;
        font-size: 15px;
      }

      width: 100%;


      border-radius: 25px;
      padding: 14px;
    }

    .container {
      padding: 6px 20px;
      color: black;

      ion-item {
        --background: rgba(255, 255, 255, .1);
        padding: 0;
        margin: 14px 0;
        --border-radius: 14px;
        color: #FFFFFF;
        font-weight: 600;

        ion-label {
          padding: 6px 0;
          font-family: 'robtronika';
          font-weight: normal;
          color: black;
        }

      }

      h2 {
        color: white;
        padding-bottom: 8px;
      }

    }
  }


}