<ion-header class="ion-no-border">
	<ion-toolbar style="text-align: center;">
		<ion-buttons slot="start">
			<ion-button (click)="openExploreApps()">
				<ion-icon style="color: orange;" name="apps"></ion-icon>
			</ion-button>
		</ion-buttons>
    <ion-label style="font-weight: 800;">Mobile DStorage</ion-label>
		<ion-buttons slot="end">
			<ion-button class="bordered" fill="solid" color="light" (click)="openConfig()">
				<ion-icon style="color: orange;" name="settings-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<ion-item lines="none">
		<ion-avatar slot="start">
			<img src="../../assets/avatar.png">
    </ion-avatar>
    <ion-label>
      <p>Hello,</p>
      <h3>{{user.username}}</h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div *ngFor="let slide of slides" button (click)="openDrive(slide.name)" class="card">
    <div class="icon">
      <img src="{{slide.logo}}">
    </div>

    <div class="title">
      {{slide.name}}
    </div>
  </div>
</ion-content>
