<ion-toolbar style="border-bottom: 1px solid gray;">
  <ion-buttons slot="start">
    <ion-button id="account" (click)="openLogin()">
      <ion-icon slot="icon-only" name="person-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="center">Mobile File Drive</ion-title>
  <ion-buttons slot="end">
    <ion-button id="open-modal">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar class="center">
  <ion-title size="small">Available Drives</ion-title>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-list style="background-color: transparent;">
    <app-drive *ngFor="let d of getDrives()" [drive]="d" (click)="openDrive(d.id)"></app-drive>
  </ion-list>
</ion-content>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button (click)="cancel()" default-href=""></ion-back-button>
        </ion-buttons>
        <ion-title>Configuration</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="settings"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <app-settings></app-settings>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal trigger="account" [isOpen]="isLoginOpen" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="0.5" [breakpoints]="[0.5,0.6,0.7,0.75]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon></ion-icon>
        </ion-buttons>
        <ion-title>Sign In</ion-title>
        <ion-buttons slot="end">
          <ion-icon></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding ">
      <ion-item>
        <ion-input placeholder="Username..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Auto Sign In?</ion-label>
        <ion-checkbox style="margin: 0;"></ion-checkbox>
      </ion-item>

      <ion-buttons style="display: flex; justify-content: space-between; width: 100%; gap: 10px;">
        <ion-button (click)="openRegister()" color="warning" style="width: 100%; box-shadow: 1px 1px 2px 0 var(--ion-color-tertiary)">Sign Up</ion-button>
        <ion-button (click)="login()" color="success" style="width: 100%; box-shadow: 1px 1px 2px 0 var(--ion-color-tertiary)">Sign In</ion-button>
      </ion-buttons>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isRegisterOpen" (willDismiss)="onWillDismiss($event)" [initialBreakpoint]="0.5" [breakpoints]="[0.5,0.6,0.7,0.75]">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-icon></ion-icon>
        </ion-buttons>
        <ion-title>Create Account</ion-title>
        <ion-buttons slot="end">
          <ion-icon></ion-icon>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding ">
      <ion-item>
        <ion-input placeholder="Username..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Password..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Confirm Password..."></ion-input>
      </ion-item>
      <ion-toolbar style="border-radius: 5px;">
        <ion-buttons slot="start" style="display: flex; justify-content: space-between; width: 100%; gap: 10px; padding-right: 5px;">
          <ion-button (click)="openLogin()" color="warning" style="width: 100%; box-shadow: 1px 1px 2px 0 var(--ion-color-tertiary)">Sign In</ion-button>
          <ion-button (click)="register()" color="success" style="width: 100%; box-shadow: 1px 1px 2px 0 var(--ion-color-tertiary)">Sign Up</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-content>
  </ng-template>
</ion-modal>