.spinner {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 45vh;
  padding-left: 45vw;
  z-index: 9999;
}

.center {
  text-align: center;
}

ion-title {
  text-align: center;
}

ion-item {
  border-radius: 6px;
  box-shadow: 1px 1px 2px 0 black;
  --background: none;
  margin-bottom: 15px;
}